<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key = "UsersFile" value="users.txt"/>
        <add key = "MaxIdFile" value="maxId.txt"/>
        <add key = "AwardsFile" value="awards.txt"/>
        <add key = "AwardUsersFile" value="awardsusers.txt"/>
        <add key = "DataSource" value="TextFiles"/>
        <add key = "UsersFile" value="user.txt"/>
        <add key = "UsersFile" value="user.txt"/>
    </appSettings>
</configuration>