USE [master]
GO
/****** Object:  Database [UsersAndAwards]    Script Date: 17.02.2019 15:54:33 ******/
CREATE DATABASE [UsersAndAwards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersAndAwards', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\UsersAndAwards.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UsersAndAwards_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\UsersAndAwards_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersAndAwards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersAndAwards]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 17.02.2019 15:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [varbinary](64) NOT NULL,
	[Category] [nvarchar](10) NOT NULL,
	[ImageId] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 17.02.2019 15:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ImageId] [nchar](10) NULL,
 CONSTRAINT [PK_Awards_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 17.02.2019 15:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AwardImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserAwards]    Script Date: 17.02.2019 15:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAwards](
	[UserId] [int] NOT NULL,
	[AwardId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.02.2019 15:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Birthday] [datetime] NOT NULL,
 CONSTRAINT [PK_Users2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Login], [Password], [Category], [ImageId]) VALUES (5, N'Admin', 0x80C1B1BD5F3D27AC5BB3291F39F5300D28AA7C6EB45ED9C3D8AECAC42505C039E4C39AC3BF8BE8E97E830F465FC0A966F9BDB6EC5DFC40CA2B4FDCAD6B24B797, N'Admin', 0)
INSERT [dbo].[Accounts] ([Id], [Login], [Password], [Category], [ImageId]) VALUES (6, N'Mikhail', 0xD404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB, N'User', 6)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[Awards] ON 

INSERT [dbo].[Awards] ([Id], [Title], [ImageId]) VALUES (4, N'Round medal', N'5         ')
INSERT [dbo].[Awards] ([Id], [Title], [ImageId]) VALUES (5, N'Rising sun', N'7         ')
INSERT [dbo].[Awards] ([Id], [Title], [ImageId]) VALUES (6, N'For glory', N'8         ')
SET IDENTITY_INSERT [dbo].[Awards] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

SET IDENTITY_INSERT [dbo].[Images] OFF
INSERT [dbo].[UserAwards] ([UserId], [AwardId]) VALUES (2, 5)
INSERT [dbo].[UserAwards] ([UserId], [AwardId]) VALUES (9, 7)
INSERT [dbo].[UserAwards] ([UserId], [AwardId]) VALUES (9, 4)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Birthday]) VALUES (2, N'Gold', N'Fish', CAST(N'1921-05-17 00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Birthday]) VALUES (5, N'Pink', N'Floyd', CAST(N'1976-09-15 00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Birthday]) VALUES (7, N'Veryvery', N'Strange', CAST(N'2001-01-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
