@*Отправлять могут только зарегистрированные пользователи, остальные
    только просматривают.

    внизу страницы ссылка наверх
    при открытии страницы получаются все сообщения (или 20 последних)
    на самом верху кнопки: написать сообщение, получить предыдущие сообщения,
                           получить все предыдущие сообщения (может не надо)
                           стрелка вверх (в начало), стрелка вниз (в конец)

    ввод новых сообщений осуществить в модальном окне.*@


@{
    Layout = "~/_Layout.cshtml";
}

@{

}

@*цикл с выводом каждого сообщения в формате:*@

<div class="shared message">
    @*получить картинку юзера, справа написать имя, на новой строке дату и время сообщения*@
    <img src="~/Images/inkognito.png" alt="Inkognito image" height="35" width="40" />
    текст
</div>



<h1>Начало!</h1>
<h1>Начало!</h1>
<h1>Начало!</h1>

@{
    //если пользователь зарегистрирован - форма для нового сообщения в общий чат
}

