body {
    background:black;
}

div.content {
    margin-left: 40px;
}

.content > header {
    z-index: 1;
    position: absolute;
    border-top: 50px solid black;
    border-left: 50px solid black;
    border-right: 30px solid transparent;
    height: 0px;
    width: 70px;
}

.content > header p {
    color: #f7cc31;
    margin-top: -45px;
    margin-left: -35px;
    font: bold 28pt sans-serif;
}

.content > article {
    padding-top: 20px;
    font: 12pt sans-serif;
    position:relative;
    overflow:hidden;
    width:450px;
    height:240px;
    border-radius:0 0 20px 20px;
    background: linear-gradient(to top, #bfbdbd, #ffffff);
}

.content > article p {
    margin: 50px 20px;
}