body {
    background-color: #E1E1E1;
    max-width: 1000px;
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

header {
    height: 45px;
    /*min-width: 612px;*/
    width: 100%;
    background: linear-gradient(to bottom, #58C6C7, #028E8F);
}

/*header>*/ ul {
    /*-webkit-flex: auto;*/
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

header > ul > li {
    height: 45px;
}

.header-link {
    width: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a.header-link {
    text-decoration: none;
    color: black;
}

a.header-link:hover {
    background: linear-gradient(to bottom,#FEFEFE, #028E8F);
}

/*@media (min-width:381px) and (max-width: 560px){
    header > ul {
    flex-wrap:wrap;
    }
 }*/


.navigation {
    display: flex;
    float: left;
    flex-direction: column;
    border: solid 0;
    border-right: solid 3px #959595;
    background-color: #F9A81B;
    width: 137px;
    align-items: center;
    padding: 2px, 0;
}

.nav-button {
    margin: 1px auto;
    display: flex;
    border: solid 1px #797979;
    border-radius: 3px;
    width: 115px;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    background: linear-gradient(to bottom, #F8DAB2, #F79104);
}

.content {
    display: flex;
    flex-direction: column;
    /*margin-left: 12.5%;*/
    max-width: 800px;
    min-width: 300px;
    padding: 2px 5px;
    overflow: auto;
    margin: 0;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    
}

.top-message-part {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.top-message-part .nav-button {
    text-align: center;
    background: linear-gradient(to bottom, #DFDFDF, #828282);
}

.top-message-part a.nav-button,
.top-message-part a.nav-button:active,
.top-message-part a.nav-button:hover {
    text-decoration: none;
}

.top-message-part a.nav-button:hover {
    background: linear-gradient(to bottom, #DFDFDF, #999999);
}

ul.message-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*align-items: flex-start;*/
}

ul.message-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    /*align-items: flex-start;*/
}


.message {
    border-radius: 5px;
    border: solid 1px grey;
    padding: 5px;
    margin: 3px;
}


/*div.message-header {
}*/

.date{
    font-size:0.8em;
}

.main-message {
    display: flex;
    clear: right;
}

.login,
.registration,
.edit-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.login,
.registration {
    width: 340px;
}

form div {
    padding-bottom: 4px;
}

input {
    border-radius: 10px;
    background-color: darkgray;
}

button {
    border-radius: 5px;
    background: linear-gradient(to bottom, white, darkgray);
}

form p {
    font-size: 12px;
    text-align: right;
    margin-top: 0;
    padding-right: 10px;
}

.account-link{
    display:block;
}

.foto-part{
    display:flex;
    flex-direction:column;
    width: 100px;
}

.foto-part > div,
.wrap-info,
.del {
    display: flex;
}

.del{
    text-decoration:none;
    margin-top:20px;
    background-color:brown;
}

.text-info ul,
.text-info{
    display: flex;
    float: left;
    flex-direction: column;
    align-items: flex-start;
}
.text-info li {
    padding: 0 0 5px 5px;
}

.content-link {
    text-align:center;
}
a.content-link {
    text-decoration: none;
}

.invalid{
    background:#faa;
}
.valid{
    background:#afa;
}
