@{
    var accountLogic = Epam.MySocialNet.WebUI.LogicProvider.AccountsLogic;
    var accountId = accountLogic.GetAccountByLogin(User.Identity.Name).Id;
    var chatList = Epam.MySocialNet.WebUI.LogicProvider.ChatsLogic.GetChatList(accountId);


    <div class="message-container">
        <ul class="message-list">
            @{
                foreach (var chat in chatList)
                {
                    <li data-id="@chat.AddresseeAccountId">
                        <div class="message">
                            <div class="message-header">
                                @{
                                    var adresseeAccount = accountLogic.GetAccountById(chat.AddresseeAccountId);

                                    <a class="account-link" href="~/Chats/Chat?Sender=@accountId&WithId=@adresseeAccount.Id">

                                        @if (adresseeAccount.ImageId > 0)
                                        {
                                        <img src="~/ViewImage?id=@adresseeAccount.ImageId" alt="@adresseeAccount.FirstName image" class="img-responsive" width="50" height="50">
                                        }
                                        else
                                        {
                                        <img src="~/DefaultImages/default_user_image.png" alt="user image" class="img-rounded img-responsive" width="50" height="50">
                                        }
                                        <text>
                                            @adresseeAccount.FirstName
                                        </text>
                                    </a>
                                }
                            </div>
                        </div>

                    </li>
                }
            }

        </ul>
    </div>
}