@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~");
    }

    if (IsPost)
    {
        if (!string.IsNullOrWhiteSpace(Request["message"]))
        {
            int senderId, adresseeId;
            bool result1 = int.TryParse(Request["From"], out senderId);
            bool result2 = int.TryParse(Request["To"], out adresseeId);

            if (result1 && result2)
            {
                if (adresseeId < 0)
                {
                    Response.SetStatus(HttpStatusCode.BadRequest);
                    return;
                }
            }

            string text = Request["message"];

            if (Epam.MySocialNet.WebUI.LogicProvider.MessagesLogic.AddMessage(text, senderId, adresseeId))
            {
                Response.Redirect("~");
            }
            else
            {
                Response.SetStatus(HttpStatusCode.BadRequest);
                return;
            }

        }
    }
}

<form class="registration" method="post">
    <input type="hidden" name="From" value="@Epam.MySocialNet.WebUI.LogicProvider.AccountsLogic.GetAccountByLogin(User.Identity.Name).Id">
    <input type="hidden" name="To" value="@Request["ToId"]">
    <p><b>Введите сообщение:</b></p>
    <p><textarea id="message" name="message" rows="6" cols="40"></textarea></p>
    <p><input type="submit"></p>
</form>