

<header class="header">

    <ul class="header-element">
        <li>
            <a href="/" class="header-link"><img src="~/Images/home.png" alt="home link" height="35" width="40" /></a>

        </li>
        <li>
            @{
                if (!User.Identity.IsAuthenticated)
                {
                    <a href="~/Accounts/Registration" class="header-link" alt="Registraion">Registration</a>
                }
            }
        </li>
        <li>
            @{
                if (!User.Identity.IsAuthenticated)
                {
                    <a href="~/Accounts/LogIn.cshtml" class="header-link" alt="Log in">Log in</a>
                }
            }
        </li>

        <li>
            <div class="header-link">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        string login = User.Identity.Name;
                        //var accounts = Epam.MySocialNet.WebUI.LogicProvider.AccountsLogic;
                        var account = Epam.MySocialNet.WebUI.LogicProvider.AccountsLogic.GetAccountByLogin(login);

                        @account.FirstName;
                        <a href="~/Accounts/">
                            @if (account.ImageId > 0)
                            {
                                <img src="~/ViewImage?id=@account.ImageId" alt=@account.ImageId class="img-rounded img-responsive" width="70" height="70">
                            }
                            else
                            {
                                <img src="~/Images/default_user_image.png" alt="usrImg" class="img-rounded img-responsive" width="70" height="70">
                            }
                        </a>

                        //Выпадающее меню с вариантами - выйти и перейти на свою страничку
                    }
                    else
                    {
                        <text>Hello, </text>
                        <img src="~/Images/inkognito.png" alt="Inkognito image" height="35" width="40" />

                    }
                }


            </div>

        </li> 
    </ul>





    @*<div >
            <a href="/" class="header-link"><img src="~/Images/home.png" alt="home link" height="35" width="40" /></a>
            @{
                if (!User.Identity.IsAuthenticated)
                {
                    <a href="~/Accounts/Registration" class="header-link" alt="Registraion">Registration</a>

                    <a href="~/Accounts/LogIn.cshtml" class="header-link" alt="Log in">Log in</a>
                }
            }
        </div>*@

    @*<div class="user-action">*@
    @*<div class="header-link">

            @{
                if (User.Identity.IsAuthenticated)
                {
                    @account.Name;
                Выпадающее меню с вариантами -выйти и перейти на свою страничку
                }
            else
            {
                    <text>Hello, </text>
                    <img src="~/Images/inkognito.png" alt="Inkognito image" height="35" width="40" />

                }
            }
        </div>*@
</header>
