<header class="header">

    <ul class="header-element">
        <li>
            <a href="/" class="header-link"><img src="~/Images/home.png" alt="home link" height="35" width="40" /></a>

        </li> <!--first child element-->
        <li>
            @{
                if (!User.Identity.IsAuthenticated)
                {
                    <a href="~/Accounts/Registration" class="header-link" alt="Registraion">Registration</a>
                }
            }
        </li> <!--second child element-->
        <li>
            @{
                if (!User.Identity.IsAuthenticated)
                {
                    <a href="~/Accounts/LogIn.cshtml" class="header-link" alt="Log in">Log in</a>
                }
            }
        </li> <!--second child element-->

        <li>
            <div class="header-link">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        @*@account.Name;*@
                        //Выпадающее меню с вариантами - выйти и перейти на свою страничку
                    }
                    else
                    {
                        <text>Hello, </text>
                        <img src="~/Images/inkognito.png" alt="Inkognito image" height="35" width="40" />

                    }
                }


            </div>

        </li> <!--third child element-->
    </ul>





    @*<div >
        <a href="/" class="header-link"><img src="~/Images/home.png" alt="home link" height="35" width="40" /></a>
        @{
            if (!User.Identity.IsAuthenticated)
            {
                <a href="~/Accounts/Registration" class="header-link" alt="Registraion">Registration</a>

                <a href="~/Accounts/LogIn.cshtml" class="header-link" alt="Log in">Log in</a>
            }
        }
    </div>*@

    @*<div class="user-action">*@
    @*<div class="header-link">

        @{
            if (User.Identity.IsAuthenticated)
            {
                @account.Name;
            Выпадающее меню с вариантами -выйти и перейти на свою страничку
            }
        else
        {
                <text>Hello, </text>
                <img src="~/Images/inkognito.png" alt="Inkognito image" height="35" width="40" />

            }
        }
    </div>*@
</header>
