<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Social Net</title>
    <!--Уточнить по заголовкам-->
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/MyContent/normalize.css" rel="stylesheet" />
    <link href="~/Content/MyContent/net.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>

    @RenderPage("~/_HeaderPartial.cshtml")

    <div>
        <nav class="navigation">
            <a class="nav-button" href="~/Accounts/UserPage">
                Моя страница
            </a>
            <a class="nav-button" href="~/Chats/AccountsList">
                Пользователи
            </a>
            <a class="nav-button" href="~/Chats/ChatsList">
                Сообщения
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-button" href="~/Accounts/FriendsList">
                Друзья
                </a>

                <a class="nav-button" href="~/Accounts/LogOut">
                    Выйти
                </a>
            }


        </nav>


        <div class="content">
            @RenderBody()
        </div>

        @*<footer>
                My social net!
            </footer>*@

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    попробовать проверку подключения скрипта

    //<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>