@{
    Layout = "~/_Layout.cshtml";
}

@{ 
//получить все сообщения
//    (потом проработать вариант с получением последних 30-ти и возможностью показать все (или еще +30))

}

@*цикл с выводом каждого сообщения в формате:*@

<div class="shared message">
    @*получить картинку юзера, справа написать имя, на новой строке дату и время сообщения*@
    <img src="~/Images/inkognito.png" alt="Inkognito image" height="35" width="40" />
    текст
</div>



<h1>Начало!</h1>
<h1>Начало!</h1>
<h1>Начало!</h1>

@{ 
//если пользователь зарегистрирован - форма для нового сообщения в общий чат
}
