@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~");
    }

    string stringId = Request["Id"];
    int Id;
    bool resultAdr = int.TryParse(stringId, out Id);

    if (!resultAdr || Id < 1)
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
        return;
    }

    var accountLogic = Epam.MySocialNet.WebUI.LogicProvider.AccountsLogic;
    var account = accountLogic.GetAccountById(Id);
    var accountInfo = accountLogic.GetAccountInfo(account.Id);
    bool myPage = User.Identity.Name == account.Login;

    <div class="wrap-info">
        <div class="for foto and button">
            @if (account.ImageId > 0)
            {
            <img src="~/ViewImage?id=@account.ImageId" alt="@account.FirstName image" width="100" height="100">
            }
            else
            {
            <img src="~/DefaultImages/default_user_image.png" alt="user default image" width="100" height="100">
            }

        </div>
        <div class="for text info">

        </div>

    </div>

    if (myPage)
    {
        //значит своя страница
    }
    else
    {
        //просмотр чужой страницы
    }
}


