@using Epam.MySocialNet.Entities;


@if (IsPost)
{
    string login = Request["login"];
    //string password = Request["password"];
    //string password_again = Request["password_again"];

    if (Request["password"] == Request["password_again"])
    {
        if (!Epam.MySocialNet.WebUI.LogicProvider.AccountsLogic.AccountExist(login))
        {
            int imgId = 0;

            if (Request.Files["file"].ContentLength > 0)
            {
                var file = Request.Files["file"];

                byte[] data = new byte[file.ContentLength];

                int len = file.InputStream.Read(data, 0, file.ContentLength);

                WebImage imgdata = new WebImage(data);

                imgdata.Resize(700, 700, true, true);

                data = imgdata.GetBytes();

                Image image = new Image()
                {
                    Data = data,
                    Name = file.FileName,
                    ContentType = file.ContentType,
                };

                imgId = Epam.MySocialNet.WebUI.LogicProvider.ImagesLogic.AddUserImage(image);
            }

            //var account = new Account
            //{
            //    EMail = Request["login"],
            //    FirstName = Request["firstName"],
            //    LastName = Request["lastName"],
            //    Role = "User",
            //    ImageId = imgId,
            //};

            if (Epam.MySocialNet.WebUI.LogicProvider.AccountsLogic.SaveNewAccount(Request["login"], Request["firstName"], Request["lastName"],
                                                                                  Request["password"], "User",Request["date"], imgId))
            {
                FormsAuthentication.SetAuthCookie(Request["login"], createPersistentCookie: false);
                Response.Redirect("~");
                return;
            }

        }

    }
}


<form class="registration" method="post" enctype="multipart/form-data">
    @if (IsPost)
    {
        <div class="alert" style="background-color:forestgreen; color: black">Wrong login or password</div>
    }

    <div>
        <label for="login">Почта:</label>
        <input type="text" id="login" name="login" />
        <p>используется для входа на сайт</p>
    </div>

    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" />
    </div>

    <div>
        <label for="password_again">Повторите пароль:</label>
        <input type="password" id="password_again" name="password_again" />
    </div>

    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName" />
    </div>

    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" />
    </div>

    <div>
        <label for="date">Дата рождения: </label>
        <input type="date" id="date" name="date" />
    </div>

    <div>
        <h4>
            Фото:
        </h4>
        <input type="file" name="file">

    </div>

    <div>
        <button>Log in</button>
    </div>
</form>

