@using Epam.UsersAndAwards.Logic
@using Epam.UsersAndAwards.Entities

@section scripts {
    <script src="~/Scripts/MyScript/delete-award.js"></script>
}

@section styles {
    <link href="~/Styles/awardpolicy.css" rel="stylesheet" />
}


@if (!User.IsInRole("Admin"))
{
    Response.Redirect("/Account");
}

@{
    var users = Epam.UsersAndAwards.WebUI.LogicProvider.UserLogic;
    var awards = Epam.UsersAndAwards.WebUI.LogicProvider.AwardLogic;
    var userAwards = Epam.UsersAndAwards.WebUI.LogicProvider.UserAwardsLogic;

}

@*@{
        if (IsPost)
        {

            var userLogic = new UserLogic();

            string firstName = Request["FirstName"];
            string lastName = Request["LastName"];
            string birthDay = Request["BirthDay"];

            if (!userLogic.Add(firstName, lastName, birthDay))
            {
                Response.SetStatus(HttpStatusCode.BadRequest);
                return;
            }

            Response.Redirect("/Account");
        }
    }*@

<div id="cover-div" class="cover-div">
</div>

<div id="modalWindow" class="modalWindow">
    <h4>One ore more users already have this award!</h4>
    <h5>Are you sure that you want delete award?</h5>

    <button class="delete-award-yes btn btn-sm btn-danger" id="deleteAward">Delete award</button>
    <button class="delete-award-no btn btn-sm btn-success" id="stayAward">Stay award</button>

</div>

<a href="~/Users/addaward" class="add-award btn btn-sm btn-success">
    Add award
</a>


<ul id="awardList">
    @foreach (var award in awards.GetAll())
    {
        <li data-id="@award.Id">
            <img src="~/ViewImage?id=@award.ImageId" alt=@award.Title class="img-rounded img-responsive" width="60" height="60">
            @award.Title
            <br />

            <a href="~/Users/editaward?id=@award.Id" class="edit-user btn btn-sm btn-warning">
                Edit award
            </a>

            <button class="delete-award btn btn-sm btn-danger">Delete award</button>

            <hr />
        </li>
    }
</ul>