@using Epam.UsersAndAwards.Logic
@using Epam.UsersAndAwards.Entities

@if (!User.IsInRole("Admin"))
{
    Response.Redirect("/Account");
}

@{
    string strId = Request["id"];
    var awardLogic = new AwardLogic();
    int id = 0;

    if (!int.TryParse(strId, out id))
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
        return;
    }

    Award award = awardLogic.GetAwardById(id);

    if ("yes" == Request["tag"])
    {
        if (awardLogic.ForcedRemove(id))
        {
            Response.Redirect("~/Users/awardpolicy");
        }
        else
        {
            Response.SetStatus(HttpStatusCode.BadRequest);
            return;
        }

    }
}
<h4>One ore more users already have this award!</h4>
<h5>Are you sure that you want delete award?</h5>
    <a class="btn btn-danger" type="submit" href="~/Users/delete-award-forced?tag=yes&id=@strId">Yes</a>
    <a class="btn btn-success" type="submit" href="~/Users/awardpolicy">No</a>
